@import "../settings/fonts";

.columns_container {
  height: 384px;
  background: url("../../assets/ColumnsBackground.png");
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .columns_box {
    width: 25%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 90px;
      font-weight: 300;
      letter-spacing: 0;
      color: #5e5322;
      margin-bottom: 2rem;
    }

    h4 {
      font-size: 18px;
      letter-spacing: -0.36px;
      color: #3c3c3c;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    span {
      font-size: 16px;
      font-family: $font-alt;
      font-weight: 300;
      letter-spacing: -0.32px;
      color: #3c3c3c;
      line-height: 1.5;
    }
  }
}
