.steps_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .steps_header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h4 {
      margin-bottom: 1.5rem;
      letter-spacing: -0.76px;
      color: #3c3c3c;
      font-size: 38px;
    }
  }

  .steps_decoration {
    min-height: 33px;
    min-width: 253px;

    background: url("../../assets/Decoration.svg");
    background-position: center;
    background-size: cover;
  }

  .steps_icons__container {
    min-width: 100%;
    background: #f0f1f1;

    .wrapper {
      height: 325px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      .steps_icons__box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        max-width: 12rem;
        max-height: 13rem;

        h5 {
          position: relative;
          margin: 1rem;
          letter-spacing: 0;
          color: #3c3c3c;
          line-height: 1.5;
          font-size: 18px;

          &:after {
            position: absolute;
            content: "";
            border-bottom: 0.75px solid #3c3c3c;
            width: 4rem;
            transform: translateX(-50%);
            bottom: -10px;
            left: 50%;
            padding-bottom: 0.5rem;
          }
        }

        span {
          font-size: 16px;
          letter-spacing: 0;
          color: #3c3c3c;

          line-height: 1.5;
        }
      }

      .step_icons__icon {
        min-height: 83px;
        min-width: 83px;

        background-size: cover;
        background-repeat: no-repeat;

        &.first {
          background: url("../../assets/Icon.png");
          background-size: cover;
          background-repeat: no-repeat;
        }

        &.second {
          background: url("../../assets/Icon2.png");
          background-size: contain;
          background-repeat: no-repeat;
        }

        &.third {
          background: url("../../assets/Icon3.png");
          background-size: cover;
          background-repeat: no-repeat;
        }

        &.fourth {
          background: url("../../assets/Icon4.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .steps_button {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .steps_button__link {
        text-decoration: none;
        text-align: center;
        width: 310px;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;

        span {
          text-transform: uppercase;
          line-height: 1.2;
          padding: 1rem 3rem;
          color: #3c3c3c;
          font-size: 36px;
          border: 0.75px solid #3c3c3c;
          transition: 1s;

          &:hover {
            cursor: pointer;
            box-shadow: inset 4.5em 0 0 0 #c8e9e4, inset -4.5em 0 0 0 #c8e9e4;
            border: 0.75px solid #c8e9e4;
          }
        }
      }
    }
  }
}
