@import "../settings/colors";
@import "../settings/mixins";

.steps_container {
  @include flex-center-column;

  .steps_header {
    width: 50%;
    padding: 5rem 0;

    .wrapper {
      height: 100%;
      text-align: center;
      @include flex-center-column;
    }
  }

  h4 {
    margin-bottom: 1.5rem;
    letter-spacing: -0.76px;
    color: $base-font-color;
    font-size: 2.375rem;

    @media (max-width: 991px) {
      font-size: 2.125rem;
    }
  }

  .steps_decoration {
    min-height: 33px;
    min-width: 253px;

    background: url("../../assets/Decoration.svg");
    background-position: center;
    background-size: cover;
  }

  .steps_icons__container {
    min-width: 100%;
    background: $background-second-color;

    .wrapper {
      padding: 5rem 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      @media (max-width: 991px) {
        flex-direction: column;
      }

      .steps_icons__box {
        @include flex-center-column;
        margin-right: 1.5rem;

        &:nth-of-type(1) {
          margin-left: 1.5rem;
        }

        @media (max-width: 991px) {
          margin-bottom: 4rem;
          margin-right: 0;

          &:nth-of-type(1) {
            margin-left: 0;
          }
        }

        &:nth-of-type(4) {
          margin-bottom: 0;
        }

        h5 {
          position: relative;
          margin-bottom: 1rem;
          letter-spacing: 0;
          color: $base-font-color;
          line-height: 1.5;
          font-size: 1.125rem;

          @media (max-width: 1102px) {
            font-size: 1rem;
          }

          &:after {
            position: absolute;
            content: "";
            border-bottom: 0.75px solid $base-font-color;
            width: 4rem;
            transform: translateX(-50%);
            bottom: -10px;
            left: 50%;
            padding-bottom: 0.5rem;
          }
        }

        span {
          font-size: 1rem;
          letter-spacing: 0;
          color: $base-font-color;

          line-height: 1.5;

          @media (max-width: 1070px) {
            font-size: 0.875rem;
          }
        }
      }

      .step_icons__icon {
        min-height: 83px;
        min-width: 83px;
        margin-bottom: 1rem;

        background-size: cover;
        background-repeat: no-repeat;

        &.first {
          background: url("../../assets/Icon.png");
          background-size: cover;
          background-repeat: no-repeat;
        }

        &.second {
          background: url("../../assets/Icon2.png");
          background-size: contain;
          background-repeat: no-repeat;
        }

        &.third {
          background: url("../../assets/Icon3.png");
          background-size: cover;
          background-repeat: no-repeat;
        }

        &.fourth {
          background: url("../../assets/Icon4.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .steps_button {
    padding: 5rem 0;

    @include flex-center;

    .steps_button__link {
      text-decoration: none;
      text-align: center;
      padding: 2.5rem 2.5rem;
      border: 0.75px solid $base-font-color;
      border-radius: 2px;
      transition: 0.8s;

      @include flex-center;

      @media (max-width: 600px) {
        padding: 2rem 2rem;
      }

      &:hover {
        cursor: pointer;
        border: 0.75px solid #c8e9e4;
        background: darken($background-second-color, 2%);
      }

      span {
        text-transform: uppercase;
        line-height: 1.2;
        color: $base-font-color;
        font-size: 2.25rem;

        @media (max-width: 1070px) {
          font-size: 1.875rem;
        }
      }
    }
  }
}