@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url("../../assets/Fonts/Merriweather/merriweather-v21-latin-ext_latin-regular.woff2")
      format("woff2"),
    url("../../assets/Fonts/Merriweather/merriweather-v21-latin-ext_latin-regular.woff")
      format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: local("Merriweather Light"), local("Merriweather-Light"),
    url("../../assets/Fonts/Merriweather/merriweather-v21-latin-ext_latin-300.woff2")
      format("woff2"),
    url("../../assets/Fonts/Merriweather/merriweather-v21-latin-ext_latin-300.woff")
      format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../../assets/Fonts/Open Sans/open-sans-v17-latin-ext_latin-regular.woff2")
      format("woff2"),
    url("../../assets/Fonts/Open Sans/open-sans-v17-latin-ext_latin-regular.woff")
      format("woff");
}

$font-base: "Open Sans", sans-serif;
$font-alt: "Merriweather", serif;
