//bar
.bar_container {
  min-height: 179px;
  background: #fad648;
  padding: 3rem 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bar_wrapper {
  height: 100%;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h3 {
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1rem;
  }

  span {
    font-size: 20px;
    color: #3c3c3c;
    line-height: 1.2;
  }
}

//form
.firstStep_form__container {
  height: 60rem;
  background: url("../../../assets/images/Background-Form.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 991px) {
    background: #eeede9;
  }

  .firstStep_form__wrapper {
    height: 100%;
    padding: 0 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;



    button {
      width: 180px;
      height: 79px;
      border: 0.75px solid #3c3c3c;
      background: transparent;
      outline: none;
      color: #000000;
      font-size: 24px;

      @media (max-width: 500px) {
        max-width: 100px;
        max-height: 60px;
        font-size: 18px;
      }

      @media (max-width: 991px) {
        width: 150px;
        height: 70px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  span {
    font-size: 24px;
    color: #3c3c3c;
    margin-bottom: 7rem;

    @media (max-width: 991px) {
      font-size: 20px;
    }
  }

  .firstStep_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

    span {
      color: #000000;
    }

    .form_button {
      padding-bottom: 20px;
    }

    label {
      font-size: 36px;
      color: #000000;
      margin-bottom: 3rem;

      @media (max-width: 991px) {
        font-size: 30px;
      }
    }



    .firstStep_form__inputBox {
      min-height: 78px;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1rem;

      &:nth-of-type(5) {
        margin-bottom: 0;
      }

      input[type="radio"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        -o-appearance: none;
        outline: none;
        content: none;
        position: relative;

        &:hover {
          cursor: pointer;
        }
      }

      input[type="radio"]:before {
        content: "";
        background: #ffffff;
        display: block;
        width: 40px;
        height: 40px;
        border: 0.75px solid #3c3c3c;
      }

      input[type="radio"]:checked:before {
        background: #fad648;
      }

      span {
        position: absolute;
        left: 8rem;

        font-size: 24px;
        color: #000000;
        max-width: 50%;

        @media (max-width: 468px) {
          font-size: 18px;
        }

        @media (max-width: 991px) {
          font-size: 20px;
        }
      }
    }
  }
}