.formThanks_container {
  height: 100vh;
  background: url("../../../assets/images/Background-Form.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 991px) {
    background: #eeede9;

  }

  .formThanks_wrapper {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formThanks_box {
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-size: 40px;
      color: #3c3c3c;
      margin-bottom: 2rem;
      line-height: 1.2;

      @media (max-width: 991px) {
        font-size: 34px;
      }
    }

    .decoration {
      height: 33px;
      width: 253px;

      background: url("../../../assets/images/Decoration.svg");
      background-position: center;
      background-size: cover;
    }
  }
}