@import "../../settings/colors";
@import "../../settings/mixins";

.giveThings_container {
  background: url("../../../assets/images/Header-Form-Background.png");
  background-position: left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  height: 60rem;

  @media (max-width: 991px) {
    background: none;
  }

  .wrapper {
    height: 55rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;

    @media (max-width: 991px) {
      justify-content: flex-start;
      align-items: center;
    }
  }

  .giveThings_nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5rem;

    .giveThings_nav__box {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .giveThings_redirect {
      text-decoration: none;
      border: 1px solid #fad648;
      padding: 0.5rem;
      transition: 0.7s;

      &:hover {
        cursor: pointer;
        border: 1px solid #c8e9e4;
        background: darken($background-second-color, 2%);
      }

      span {
        font-size: 1rem;
        margin: 0;

        @media (max-width: 991px) {
          font-size: 0.8125rem;
        }
      }
    }

    span {
      margin-right: 1.5rem;
      font-size: 0.8125rem;
      color: $base-font-color;
    }
  }

  .giveThings_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 610px;

    @media (max-width: 1170px) {
      max-width: 550px;
    }

    h3 {
      margin-bottom: 1.5rem;
      letter-spacing: -0.76px;
      color: #3c3c3c;
      font-size: 38px;
      line-height: 1.3;

      @media (max-width: 991px) {
        font-size: 29px;
      }
    }

    span {
      color: #3c3c3c;
      font-size: 38px;
      font-weight: 300;
      opacity: 0.8;

      @media (max-width: 991px) {
        font-size: 29px;
      }
    }

    .giveThings_title__decoration {
      min-height: 33px;
      min-width: 253px;

      background: url("../../../assets/images/Decoration.svg");
      background-position: center;
      background-size: cover;
      margin-bottom: 3rem;
    }
  }
}

.giveThings_steps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 610px;
  height: 300px;

  @media (max-width: 991px) {
    flex-direction: column;
    height: 600px;
    max-width: 100%;

  }

  @media (max-width: 1170px) {
    width: 520px;
  }

  .steps_box {
    height: 135px;
    width: 135px;
    transform: rotate(45deg) translateY(10px);
    border: 0.75px solid #3c3c3c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 1170px) {
      width: 100px;
      height: 100px;
    }

    div {
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      padding-bottom: 1.5rem;

      transform: rotate(-45deg);
      min-width: 100%;

      .steps_number {
        font-size: 28px;

        @media (max-width: 1170px) {
          font-size: 18px;
        }
      }

      .steps_title {
        font-size: 18px;
        padding: 2rem 1.6rem;

        @media (max-width: 1170px) {
          font-size: 14px;
          padding: 1.5rem 1.2rem;
        }
      }
    }
  }
}