@import "../../node_modules/css-reset-and-normalize/scss/reset-and-normalize";
@import "./components/Home/homeHeader";
@import "./settings/fonts";
@import "./settings/colors";
@import "./settings/mixins";
@import "./settings/wrapper";
@import "./components/Home/homeThreeColumns";
@import "./components/Home/homeSteps";
@import "./components/Home/homeAboutUs";
@import "./components/Home/homeHelpInfo";
@import "./components/Home/homeFooter";
@import "./components/Auth/auth";
@import "./components/Form/giveThings";
@import "./components/Form/firstFormStep";
@import "./components/Form/secondFormStep";
@import "./components/Form/thirdFormStep";
@import "./components/Form/fourthFormStep";
@import "./components/Form/fifthFormStep";
@import "./components/Form/formThanks";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: 16px;
}