@import "../../settings/colors";
@import "../../settings/mixins";

.auth_container {
  height: 55rem;

  &.signOut_container {
    height: 30rem;
    @include flex-center;
  }

  .wrapper {
    height: 100%;
    @include flex-start;
    flex-direction: column;
    padding-top: 1.5rem;

    &.signOut_wrapper {
      height: 100%;
      padding-top: 2.875rem;
    }

    .auth_button {
      border-bottom: 1px solid darken($background-second-color, 20%);
      padding: 1rem 1rem;
      text-decoration: none;
      color: $base-font-color;
      transition: 0.9s;
      font-size: 1rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      @media(max-width: 991px) {
        font-size: 0.8125rem;
        padding: 0.5rem 0.5rem;
      }
    }
  }

  .auth_nav {
    width: 100%;
    margin-bottom: 3rem;

    @include flex-start;

    @media (max-width: 991px) {
      justify-content: center;
    }
  }

  .auth_title {
    @include flex-center-column;

    text-align: center;

    h3 {
      margin-bottom: 1.5rem;
      letter-spacing: -0.76px;
      color: $base-font-color;
      font-size: 2.375rem;

      @media (max-width: 991px) {
        font-size: 1.8125rem;
      }
    }

    .auth_title--decoration {
      min-height: 33px;
      min-width: 253px;

      background: url("../../../assets/images/Decoration.svg");
      background-position: center;
      background-size: cover;
      margin-bottom: 3rem;
    }
  }
}

//form
.auth_form {
  width: 350px;
  @include flex-center-column;

  @media (max-width: 530px) {
    width: 300px;
  }

  //login inputs
  .auth_form--signinInputs {
    width: 100%;
    height: 100%;
    @include flex-center-column;
    background: #f0f1f1;
    padding: 5rem 0;
    margin-bottom: 3rem;

    @media (max-width: 991px) {
      padding: 3rem 0;
    }

    span {
      color: $base-font-color;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;

      @media (max-width: 991px) {
        font-size: 0.8125rem;
      }
    }

    .auth_error {
      font-size: 0.75ren;
      color: $error-color;
      margin-bottom: 1rem;
    }

    input {
      margin-bottom: 0.5rem;
      width: 70%;
      border-right: 0;
      border-left: 0;
      border-top: 0;
      background: transparent;
      outline: none;
      border-bottom: 1px solid #707070;

      &:focus {
        border-bottom: 1px solid #c8e9e4;
      }
    }
  }
}

.inputs_title--box {
  width: 70%;
  @include flex-start;
}

.error_box {
  width: 70%;
  @include flex-start;
}

//register inputs

.auth_form--registerInputs {
  @include flex-center-column;
  text-align: left;
  background: #f0f1f1;
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  margin-bottom: 3rem;

  @media (max-width: 991px) {
    padding: 3rem 0;
  }

  .auth_error {
    font-size: 0.75rem;
    color: $error-color;
    margin-bottom: 1rem;
  }

  span {
    margin-bottom: 0.5rem;
    color: $base-font-color;
    font-size: 1rem;
    font-weight: 600;

    @media (max-width: 991px) {
      font-size: 0.8125rem;
    }
  }

  input {
    margin-bottom: 0.5rem;
    width: 70%;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #707070;

    &:focus {
      border-bottom: 1px solid #c8e9e4;
    }
  }
}

.auth_form--buttons {
  @include flex-space-between;
  width: 100%;

  button {
    background: transparent;
    text-align: center;
    border: 1px solid darken($background-second-color, 20%);
    padding: 0.8rem 1.7rem;
    font-size: 1.125rem;
    color: #000000;
    outline: none;
    transition: 1s;

    @media (max-width: 991px) {
      font-size: 0.8125rem;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid #c8e9e4;
      background: darken($background-second-color, 2%);
    }
  }
}

.redirect_button {
  text-decoration: none;
  background: transparent;
  text-decoration: none;
  text-align: center;
  font-size: 1.125rem;
  color: #000000;
  position: relative;
  transition: 0.5s;

  @media (max-width: 991px) {
    font-size: 0.8125rem;
  }

  &:hover {
    cursor: pointer;
    color: lighten(#000000, 50%);
  }

  &.logout {
    border: 1px solid $base-font-color;
    padding: 0.8rem 1.7rem;
    font-size: 1.125rem;
    color: #000000;

    &:hover {
      cursor: pointer;
      border: 1px solid #c8e9e4;
      background: darken($background-second-color, 2%);
    }

  }

  span {
    text-decoration: none;
    font-size: 1.125rem;
    color: #000000;
  }
}